*.i                             # Preprocessed source
*.s                             # Assembly output
*.ll                            # LLVM intermediate
*.o                             # Object files
core.*                          # core files
octave-workspace                # Octave crashes
*.swp                           # Vim
*.swo                           # Vim
*.dSYM                          # Mac
*.optrpt                        # Intel compiler
*__genmod.*                     # Intel Fortran compiler
*.patch                         # patch files
*.dbg                           # Flang
*.cobaltlog                     # ALCF Cobalt scheduler
*.output                        # ALCF Cobalt scheduler
*.error                         # ALCF Cobalt scheduler

stencil-cuda
stencil-hip
stencil-sycl
stencil-sycl-explicit
stencil-sycl-explicit-usm
stencil-sycl-usm
stencil-2d-sycl
